body {
  background-image: url("tea1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: auto;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/*---------------------------slide images----------------------*/
.slide {
  text-align: center;
  opacity: 0.6;
  margin-top: 30px;
}

/*---------------------------Header------------------------------*/
h1,
h2 {
  font-family: fantasy;
  font-weight: bold;
  text-align: center;
}
h1 {
  color: rgb(71, 43, 5);
  text-shadow: 2px 2px 2px rgb(145, 76, 11);
}
h2 {
  color: rgb(155, 14, 120);
  text-shadow: 2px 2px 2px rgb(22, 21, 21);
}
span {
  font-family: fantasy;
  font-weight: bolder;
  color: rgb(3, 51, 3);
  text-align: center;
  border-radius: 20px;
  text-shadow: 2px 2px 2px rgb(214, 143, 12);
}

/*---------------------------Select Form----------------------*/

form {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#selection {
  width: 10rem;
  box-shadow: 2px 2px 3px rgb(75, 8, 92);
}

/*---------------------------Text Hidden----------------------*/

p {
  line-height: 1.5rem;
  text-align: center;
  color: rgb(5, 5, 5);
}

a {
  color: rgb(153, 6, 146);
  padding: 40px;
  font-family: cursive;
}

a:hover {
  color: rgb(18, 18, 238);
  text-decoration-line: none;
  font-style: italic;
}

/*---------------------------Content ---------------------------*/
.main-kaffee {
  display: inline-flex;
  flex-direction: column;
}
li {
  list-style: none;
}
.text {
  display: inline-flex;
  flex-direction: column;
}

img {
  margin: 10px auto;
  text-align: center;
}

button {
  width: 7rem;
  height: 1.5rem;
  border-radius: 10px;
  background-color: rgb(15, 41, 2);
  cursor: pointer;
  font-family: cursive;
  font-size: 0.8rem;
  color: white;
  box-shadow: 2px 2px 2px rgb(143, 129, 6);
}
button:hover {
  background-color: mintcream;
  color: blue;
}

a,
button {
  display: block;
  margin-bottom: 5px;
}

/*---------------------------Footer----------------------------*/

footer {
  background-color: rgb(15, 15, 14);
}
footer p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  height: 30px;
  padding-top: 5px;
  color: #fff;
}
